body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #4caf50;
  padding-bottom: 8px;
}


.table-container {
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

tbody tr:nth-child(even) {
  background-color: #f1f1f1;  /* Add a different shade for even rows */
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;  /* Add the default shade for odd rows */
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

th {
  background-color: #4CAF50;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* CSS for mobile devices */
@media only screen and (max-width: 600px) {
  table {
    font-size: 12px;
  }

  th,
  td {
    padding: 6px;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button-container a.button {
  width: 60px;
  text-align: center;
}

.refresh-button {
  margin-left: 10px;
}

.button-container a {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.button-container a:hover {
  background-color: #45a049;
}

.refresh-button button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.refresh-button button:hover {
  background-color: #45a049;
}

.green {
  background-color: rgba(0, 255, 0, 0.3); /* Light green with 30% opacity */
}

.yellow {
  background-color: rgba(255, 255, 0, 0.4); /* Light yellow with 40% opacity */
}

.red {
  background-color: rgba(255, 0, 0, 0.3); /* Light red with 30% opacity */
}

/* Add the CSS for the sorting arrows */
.tablesorter-headerAsc::after,
.tablesorter-headerDesc::after {
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 4px;
    transition: border-color 0.2s;
}

.tablesorter-headerAsc::after {
    border-color: transparent transparent #000000 transparent;
}

.tablesorter-headerDesc::after {
    border-color: #000000 transparent transparent transparent;
}
