<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SalesTracknAnalytics</title>
    <link rel="stylesheet" href="/static/idx.css">
    
</head>
<body>
    <div class="container">
        <h1>Sales Track &amp; Analytics</h1>
        <div class="button-container">
            <div class="sales-container">
                <!-- <h2>||Sales||</h2> -->
                <a href="/sales" class="button">Go to Sales</a>
            </div>
            <div class="availability-container">
                <!-- <h2>||Availability||</h2> -->
                <a href="/availability" class="button">Go to Availability</a>
            </div>
        </div>
    </div>
</body>

</html>
