<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">

    <script>
        function refreshData() {
            location.reload();
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="button-container">
            <a href="/" class="button">Home</a>
            <div class="refresh-button">
                <button onclick="refreshData()" class="button">Refresh</button>
            </div>
        </div>
        <h1>Stock Report</h1>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Wheat(Kgs)</th>
                    <th>Rice(Kgs)</th>
                    <th>FRice(Kgs)</th>
                    <th>Sale Count</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through each row in the JSON data -->
                {% for row in data %}
                <tr>
                    <td>{{ row['Date'] }}</td>
                    <td>{{ row['Wheat(Kgs)'] }}</td>
                    <td>{{ row['Rice(Kgs)'] }}</td>
                    <td>{{ row['FRice(Kgs)'] }}</td>
                    <td>{{ row['Sale Count'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>