<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">

    <script>
        function refreshData() {
            location.reload();
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="button-container">
            <a href="/" class="button">Home</a>
            <div class="refresh-button">
                <button onclick="refreshData()" class="button">Refresh</button>
            </div>
        </div>
        <h1>Stock Report</h1>
        <div class="table-div">
            <table>
                <thead>
                    <tr>
                        <!-- Loop through column names to generate table headers -->
                        {% for column in columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through each row in the JSON data -->
                    {% for row in data %}
                    <tr>
                        <!-- Loop through each column value in the row -->
                        {% for column in columns %}
                        <td>{{ row[column] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
